body{
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-style: 16px;
    line-height: 22px;
    color: #4a4b4c;
    background-color: #fff;
}

*{
    box-sizing: border-box;
}

*:focus{
    outline: 3px dashed #2959ce;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

/* HEADER-TOP */
.header-top{
    background-color:#f6f6f6;
    margin-bottom: 10px;
}

.header-top-container{
    display: flex;
    align-items: center;
}

/* LOGO */
.logo{
    margin-top: 39px;
    margin-right: 41px;
    margin-bottom: 38px;
    padding: 9px 6px 8px 6px;
    background-color:#fff;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.6;
}

/* CURRENCY-RATES */
.currency-rates{
    display: flex;
    align-items: center;
    margin-right: 262px;
}

.currency-rates-item{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.currency-rates-item:not(:last-child){
    margin-right: 25px;
}

.currency-rates-type{
    color: #2959ce;
    font-weight: 700;
    margin-right: 3px;
}

.currency-rates-value{
    color: #555;
    font-weight: 500;
}

/* HEADER-FORM */
.header-form{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.header-input{
    border:0;
    font-size: 14px;
    font-weight: 500;
    color: #8d8d8d;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 40px;
    border-radius: 60px;
}

/* LANG-TOGGLE */
.lang-toggle{
    display: flex;
    background-color: #dce6ff;
    margin-right: 25px;
    padding: 5px;
    border-radius: 39px;
}

.lang-toggle-link{
    text-decoration: none;
    color: #a6a6a6;
    line-height: 30px; 
    text-align: center; 
}

.lang-toggle-link:not(:last-child){
    margin-right: 13px;
}

.lang-toggle-link-active{
    background-color: #fff;
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* BUTTONS */
.button{
    color: #fff;
    padding: 13px 20px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
}

.button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.button:active{
    opacity: 0.6;
}

.button-primary{
    background-color: #7296ec;
}

.button-orange{
   background-color:#f78b3b;
   border: 0;
}

/* SITENAV */
.sitenav-list{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    border-bottom: 1px solid #d1d1d1;
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
}

.sitenav-item{
    list-style: none;
}

.sitenav-item:not(:last-child){
    margin-right: 34px;
}

.sitenav-link{
    display: block;
    color: #7f7f7f;
    text-decoration: none;
}

.sitenav-link:hover{
    color: #7296ec;
}

.sitenav-link:active{
    opacity: 0.6;
}

/* SITE-HEADER-BANNER */
.site-header-banner-link{
    display: flex;
}


/* NEWS-GRID */
.main-content{
    padding-top: 50px;
}

.news-grid{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.news-article-item{
    width: 392px;
    height: 382px;
    border-radius: 15px;
}

.article-card{
    display: flex;
    flex-direction: column;
    padding: 20px 17px 15px 17px;
    margin-top: 0;
    margin-right: 11px;
    margin-bottom: 10px;
    background-color:#f6f6f6;
}

.article-card:nth-child(3n){
    margin-right: 0;
}

.article-card-title{
    margin: 0;
}

.article-card-link{
    font-size: 20px;
    line-height: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.article-card-link:hover{
    color: #7269ee;
}

.article-card-link:active{
    opacity: 0.6;
}

.article-card-text{
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
}

.article-card-img{
    display: block;
    margin-top: auto;
    margin-bottom: 15px;
}

.article-card-footer{
    display: flex;
    align-items: center;
}

.article-card-source-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.article-card-source-time{
    font-size: 12px;
    line-height: normal;
}


/* NOTIFICATION CTA */
.notification-cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    padding: 25px 70px 25px 30px;
    width: 1050px;
    height: 100px;
    border-radius: 10px;
    background-color:#f5ac5985;
}

.notification-text{
    color: #000;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}


/* GLOBAL-NEWS */
.global-news-title{
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.global-news-item{
    display: flex;
    align-items: center;
    margin: 0;
    width: 797px;
    height: 205px;
}

.article-card-horizontal-item{
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 20px 20px 20px 17px;
    background-color: #f6f6f6;
}

.article-card-horizontal-img{
    width: 210px;
    height: 165px;
    margin-right: 15px;
}

.article-card-horizontal-heading{
    display: flex;
    align-items: start;
}

.article-card-horizontal-link{
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}

.article-card-horizontal-link:hover{
    color: #7269ee;
}

.article-card-horizontal-link:active{
    opacity: 0.6;
}

.article-card-horizontal-text{
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
    margin-bottom: 17px;
}

.article-card-horizontal-footer{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.article-card-horizontal-source-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}